<h1>New Car</h1>
<form action="/new-car">
  <label for="new-make">Add the make</label>
  <input id="new-make" name="new-make" type="text">
  <label for="new-model">Add the model</label>
  <input id="new-model" name="new-model" type="text">
  <label for="new-color">Add the color</label>
  <input id="new-color" name="new-color" type="text">
  <label for="new-year">Add the year</label>
  <input id="new-year" name="new-year" type="number">
  <label for="new-price">Add the price</label>
  <input id="new-price" name="new-price" type="number">
  <button type="submit">Submit</button>
</form>
